on:
  # push:
  #   branches: [master]
  workflow_dispatch:
  pull_request:
    branches: [master]

name: Create harfbuzz Release

jobs:
  build:
    name: compile harfbuzz then deploy
    runs-on: macos-12
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Install denpendencies
      run: |
        ./main.sh install -p ios -l 'freetype'
        ./main.sh install -p tvos -l 'freetype'
        ./main.sh install -p macos -l 'freetype'
  - name: One Step
      run: .github/workflows/onestep.sh harfbuzz all